*{
  margin: 0;
  padding: 0;
}

.mainNav{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.navigationPicture{
  padding-top: 20px;
  margin-right: 110px;
}
.navList{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 40px;
}

.navList {
  color:rgb(73, 94,87);
  font-weight: 500;
  font-size: large;
}

.headermain{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.leftbox h2{
  color: rgb(244, 206, 20);
  font-size: 30pt;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 290px;
  margin-top: 20px;
}

.leftbox h3{
  color: white;
}
.leftbox p{
  color: white;
}

.rightbox{
  margin-top: 20px;
}

.rightbox img {
  border-radius: 30px;
}

.hightlightHeader{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 400px;
  margin-top: 40PX;
}

 h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 30pt
}

.masterswmenu{
  margin-top: 40px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap:20px
}

.masterswmenu .dish1{
  background-color:rgb(211, 221, 218) ;
  border-radius: 20px;
}

.masterswmenu .dish1 .nameandprice1{
 display: flex;
 flex-wrap: wrap;
 gap :110px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 10px;
}

.masterswmenu .dish1disc{
  font-size: 11pt;
  margin-left: 10px;
}

.masterswmenu .delivery{
  display: flex;
  flex-wrap: wrap;
  gap:100px;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 10px;
}

.masterswmenu .dish2{
  background-color:rgb(211, 221, 218) ;
  border-radius: 20px;
}

.masterswmenu .dish2 .nameandprice2{
 display: flex;
 flex-wrap: wrap;
 gap :125px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 10px;
}

.masterswmenu .dish3{
  background-color:rgb(211, 221, 218) ;
  border-radius: 20px;
}

.masterswmenu .dish3 .nameandprice3{
 display: flex;
 flex-wrap: wrap;
 gap :105px;
 margin-top: 10px;
 margin-bottom: 10px;
 margin-left: 10px;
}

.customermain{
  margin-top: 70px;
}

.customermain .cHeader{
  text-align: center;
}

.customermain h3{
  margin-top: 10px;
  margin-bottom: 10px;
}

.customermain p {
  margin-bottom:10px ;
}

.customerRating{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
}

.aboutMain{
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
  margin-top: 50px;
  background-color:rgb(73, 94,87) ;
}

.aboutMessage{
  margin-top: 50px;
  margin-right: 50px;
}

.aboutMain img{
  margin-top: 20px;
  margin-bottom: 15px;
}

.footerMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap:100px
}

.footerMain .logos{
  margin-right: 180px;
}

.footerMain  h4{
  margin-top: 10px;
}

.footerMain .smedia{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
  gap: 10px;
}

.footerMain .quickLink a{
  color:rgb(73, 94,87);
}
.footerMain .Contact h5{
  color:rgb(73, 94,87);
  font-weight: 500;
}

.majorbox{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.leftinnerbox{
  margin-top: 30px;
  margin-bottom: 30px;
}
.leftinnerbox h1{
  color: white;
}

.leftinnerbox .button{
  color:rgb(73,94,87) ;
    background-color: rgb(244, 206, 20);
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: large;
}


.image img{
  margin-top: 150px;
  margin-bottom: 15px;
  border-radius: 500px;
}
