*{
  margin: 0;
  padding: 0;
}

.App{
  align-content: center;
}

.mainNav{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.navigationPicture{
  padding-top: 20px;
  margin-right: 100px;
}
.navList{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 40px;
}

.navList {
  color:rgb(73, 94,87);
  font-weight: 500;
}

.headermain{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.leftbox h2{
  color: rgb(244, 206, 20);
  font-size: 30pt;
  margin-right: 200px;
  margin-top: 20px;
}

.leftbox h3{
  color: white;
}
.leftbox p{
  color: white;
}

.rightbox{
  margin-top: 20px;
  border-radius: 50px;
}
